<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PTO Form Test Suite">
    <test name="PTO Form Tests">
        <classes>
            <class name="org.example.runners.TestRunner"/>
            <class name="org.example.hooks.Hooks"/>
        </classes>
    </test>
</suite>
    